<!DOCTYPE html>
<html lang="pl">
<head>
    {% include 'extend/head.html' %}
    <link rel=stylesheet type=text/css href="/static/style/about-page-style.css">
    <title>Trashpanda - O nas</title>
</head>
<body>
<div class="alx-cont">
        <div class="alx-flex-box">
            <img src="/static/pic/logo.png">
        </div>
        <div class="alx-flex-box">
            <h1>O nas</h1>
            <p>Mały zespół złożony z 5 studentów.</p>
            <p>PWSZ Nysa - 2018</p>
        </div>
    <div class="alx-flex-box">
        <img src="/static/pic/autor.png">
    </div>
    <div class="alx-flex-box">
        <br>Aleksander Sinkowski
        <br>Serhii Riznychuk
        <br>Mikołaj Rychel
        <br>Aleksandra Pawlaczyk
        <br>Marcin Ochociński
    </div>
</div>
{% include 'extend/Footer.html' %}
{% include 'extend/UserPanel.html' %}
</body>
</html>