{% extends "info_pages/info_base.html" %}

{% block title %}
    <title>Trashpanda - O nas</title>
{% endblock %}

{% block content %}

    <div>
        <h1>O nas</h1>
        <p>Mały zespół złożony z 5 studentów.</p>
        <p>PWSZ Nysa - 2018</p>
    </div>
    <div>
        <img src="/static/pic/autor.png">
    </div>
    <div>
        <br>Aleksander Sinkowski
        <br>Serhii Riznychuk
        <br>Mikołaj Rychel
        <br>Aleksandra Pawlaczyk
        <br>Marcin Ochociński
    </div>

{% endblock %}