{% extends "info_pages/info_base.html" %}

{% block title %}
    <title>Trashpanda - Kontakt</title>
{% endblock %}

{% block content %}
        <div>
            <h1>Kontakt</h1>
            <p>Szukaj nas w PWSZ w Nysie</p>
            <br>Aleksander Sinkowski
            <br>Serhii Riznychuk
            <br>Mikołaj Rychel
            <br>Aleksander Pawlaczyk
            <br>Marcin Ochociński
            <br>
            <br>
            <br>Lub napisz do nas!
            <form method="post">
                <textarea placeholder="Napisz wiadomość..."></textarea>
                <br>
                <button type="button">Wyślij</button>
            </form>
        </div>

{% endblock %}