<link rel=stylesheet type=text/css href="/static/style/extend/footer.css"/>
<div class="alx-foo">
    <div class="alx-foo-item"><a onclick="goTo('/')">Home</a></div>
    <div class="alx-foo-item"><a onclick="goTo('/contact')">Kontakt</a></div>
    <div class="alx-foo-item"><a onclick="goTo('/mytrashbox')">TRASHBOX</a></div>
    <div class="alx-foo-item"><a onclick="goTo('/about')">O nas</a></div>
    <div class="alx-foo-item"><a onclick="goTo('/info')">Info</a></div>
</div>
<script src="/static/scripts/js/goTo.js"></script>
