    html, body{
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
    }

    body{
        background: linear-gradient(20deg, #161F40 25%, #fff 25%);
        color: #161F40;
    }

    #alx-gbtn{
        width: 100%;
        height: 100%;
        background-color: #fff;
        position: fixed;
        z-index: -10;
        opacity: 0;
        display: inline-block;
    }
    .alx-gbtn{
        position:fixed;
        top: calc(50vh - 150px);
        left: calc(50vw - 250px);
        padding: 50px 100px;
        box-shadow: 4px 4px 10px #aaa;
        color: #161F40;
        text-align: center;
    }

    .alx-cont, .alx-flex-box{
        min-width: 400px;
        width: 100%;
        height: 80%;
        display: flex;
        align-items: center;
        justify-content:center;
        flex-direction: column;
    }

    .alx-flex-box{
        flex-direction: row;
    }

    h1{
        position: relative;
        font-size: 2.5rem;
        top: 27px;
        color:black;
    }

    .alx-flex-box:first-child{
        position: relative;
        justify-content:left;
        top: 60px;
        left: -35px;
        z-index:-1;
    }

    .alx-flex-box:last-child{
        justify-content: center;
    }

    .alx-img-logo{
        height: 45vh;
        border-radius: 10px;
        box-shadow: 0px 0px 10px black;
        margin: 20px 0px;
    }

    .search-in{
        border: none;
        margin: 10px 0px;
        min-width: 250px;
        width: 50vw;
        height: 20px;
        padding: 10px;
        border-radius: 10px 0px 0px 10px;
        box-shadow: 3px 3px 10px #555;
        transition: all 200ms;
    }

    .search-btn, .alx-btn{
        border: none;
        border-radius: 0px 10px 10px 0px;
        width: 150px;
        height: 40px;
        box-shadow: 3px 3px 10px #555;
        color: #fff;
        background: #161F40;
        transition: all 200ms;
    }

    input:focus, button:focus{
        outline: none;
        background: #161F40;
        color: white;
    }
    button:hover{
        cursor: pointer;
        color: #161F40;
        background: #fff;
    }

    .alx-btn:last-child, .alx-btn:first-child{
        background: none;
        color: #161F40;
    }
    .alx-btn:first-child{
        border-radius: 10px 0px 0px 10px;
        margin: 5px;
    }
    .alx-btn:hover{
        cursor: pointer;
        color: #fff;
        background: #161F40;
    }
    .exit-gbtn{
        border-radius: 5px;
        margin: 10px;
    }