/* Import bazowego stylowania dla strony */
@import "extend/base.css";

/* Styl odpowiedzialny za paski nawigacji oraz ich animację */
.foo{
    position: fixed;
    z-index: 2;
    width: 100vw;
    height: 100px;
    box-shadow: 0px 0px 5px #000;
    transition: all 200ms;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    bottom: -75px;
}
/*.nav{ top: -75px; }*/
.nav{
    top: -75px;
    position: fixed;
    z-index: 2;
    width: 100vw;
    height: 100px;
    box-shadow: 0px 0px 5px #000;
    transition: all 200ms;
    background-color: #fff;
}

.foo{ bottom: -75px; }

/* Animacja hover */
.nav:hover, .foo:hover{
    height: 70px;
    cursor: default;
}
.nav:hover{ top:0; }

.foo:hover{ bottom: 0; }

/* Modyfikacja do podłączonego modułu z zawartością stopki */
.alx-foo { box-shadow: none !important; }

.content{
    z-index: 1;
    height: 100%;
}

/* Stylowanie dla avatara użytkownika w pasku nawigacji */
.nav:first-child{ justify-content: left; }

/* Stylowanie kontenera dla listy z zawartością katalogu */
.trashbox-container{
    width: 100%;
    height: 100%;
}
.trashbox-content{
    width: 84%;
    height: 88vh;
    margin: 0% 5%;
    padding: 3%;
    box-shadow: 2px 2px 10px #ddd, -2px -2px 10px #ddd;
    text-align: center;
}

.nav-elements{
    display: flex;
    align-items: center;
    width: 100%;
    text-align:center;
}
.item01-userPanel{
    min-width: 200px;
}
.item02-search{
    min-width: 500px;
    width: 100%;
}
.item03-upload{
    min-width: 200px;
}