#userinfo{
    display: none;
        /*display: initial;*/
    position: absolute;
    top:10px;
    left: 10px;
    z-index: -1;
}

#userimg{
    height: 50px;
    width: 50px;
    border-radius: 50px;
}

#username{
    position: relative;
    top: calc(-35px + 0.5rem);
    left: 10px;
}

#userlogout{
    position: relative;
    top: calc(-12px + 0.5rem);
    left: -105px;
}
