{#  Szablon strony  #}
<!DOCTYPE html>
<html lang="pl">
<head>
    {#  Podpięcie danych header z zewnętrznego pliku  #}
    {% include 'extend/head.html' %}

    {#  Podpięcie bazowego stylu  #}
    <link rel=stylesheet type=text/css href="/static/style/trashbox-base.css">

    {#  Podpiecie modułu z ikonami fontello  #}
    <link rel="stylesheet" href="/static/style/fontello-c536326c/css/fontello.css" type="text/css"/>
    <title>Trashpanda Cloud</title>
</head>
<body>

{#  Podpięcie panelu użytkownika z wyszukiwarką  #}
<div id="nav" class="nav">
    <div id="nav-inside" class="nav-elements">
        <div class="item01-userPanel">
            {% include 'extend/user_panel.html' %}
        </div>
        <div class="item02-search">
            {% include 'extend/search_input.html' %}
        </div>
        <div class="item03-upload">
            <h2>Upload</h2>
        </div>
    </div>
</div>

{#  Wstrzyknięcie zewnętrznego html'a  #}
<!--Body, do którego AJAX'em ładowane są fragmenty html'a-->
    <div id="include"></div>

{#  Podpięcie stopki  #}
<div id="foo" class="foo" onclick="fooAct('foo', 'bottom')">
    <div id="foo-inside">
        {% include 'extend/footer.html' %}
    </div>
</div>
<script>
    showPanel('{{ init.include }}');
</script>
</body>
</html>