{#  Szablon strony  #}
<!DOCTYPE html>
<html lang="pl">
<head>
    {#  Podpięcie danych header z zewnętrznego pliku  #}
    {% include 'extend/head.html' %}

    <script src="/static/scripts/js/auth.js" async defer></script>

    {#  Podpięcie bazowego stylu  #}
    <link rel=stylesheet type=text/css href="/static/style/trashbox-base.css">

    {#  Podpiecie modułu z ikonami fontello  #}
    <link rel="stylesheet" href="/static/style/fontello-c536326c/css/fontello.css" type="text/css"/>
    <title>Trashpanda Cloud</title>
</head>
<body>

{#  Podpięcie panelu użytkownika z wyszukiwarką  #}
<div id="nav" class="nav">
    <div id="nav-inside">
        <div>
            {% include 'extend/user_panel.html' %}
        </div>
    </div>
</div>

{#  Wstrzyknięcie zewnętrznego html'a  #}
<div id="content" class="content">
    {% block content %}{% endblock %}
</div>

{#  Podpięcie stopki  #}
<div id="foo" class="foo" onclick="fooAct('foo', 'bottom')">
    <div id="foo-inside">
        {% include 'extend/footer.html' %}
    </div>
</div>
</body>
</html>