{% extends 'trashbox_base.html' %}
{% block content %}
    <link rel=stylesheet type=text/css href="/static/style/trashbox.css">
    <script async src="/static/scripts/js/trashoboxOptionPopUp.js"></script>

    <div id="loadContent">
        <br>
        <h1>- My Trashbox -</h1>
        <span style="font-size: 1.2rem;">Katalog: {{ currentdir }}</span>
        <br>
        <table>
            <thead>
            <tr>
                <th><a href="/mytrashbox?path={{ backpath }}"><i class="icon-left-big"></i></a></th>
                <th>Nazwa</th>
                <th>Rozmiar</th>
                <th>Tags</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
{#            {% for lista in lista %}#}
            {% for file in file %}
                <tr>
                    <td><i class="icon-{{ file.icon }}"></i></td>
                    <td>{{ file.name }} <i class="icon-{{ file.lock }}"></i></td>
                    <td>{{ file.size }}</td>
                    <td>
                        {% if file.tag | length > 1 %}
                            <select class="hover">
                                {% for tag in file.tag %}
                                    <option>{{ tag }}</option>
                                {% endfor %}
                            </select>
                        {% endif %}
                    </td>
                    <td><i onclick="openmenu()" class="icon-ellipsis-vert hover"></i></td>
                </tr>
            {% endfor %}
{#            {% endfor %}#}
            </tbody>
        </table>
        
        <form class="popmenu" id="popmenu" onmouseleave="closemenu()">
            <input type="hidden" name="filepath" value="filepath">
            <input type="submit" name="open" value="Otwórz">
            <input type="button" name="close" value="Zamknij" onclick="closemenu()">
        </form>
        {#        <script src="/static/scripts/js/loadingPage.js"></script>#}
        {#        <script>loadingPage('36253978469', 'home');</script>#}
    </div>
{% endblock %}